<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ניתוח שמות ישראליים</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <h1>שמות פרטיים של תושבי ישראל, לפי שנת לידה, דת ומין, 1948 - 2021</h1>
    <form id="form">
        <div class="form-container">
            <label for="name">שם:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="M_status">גברים:</label>
            <input type="checkbox" id="M_status" name="M_status">
            <br>
            <label for="F_status">נשים:</label>
            <input type="checkbox" id="F_status" name="F_status">
            <br>
            <label for="religion">דת:</label>
            <select id="religion" name="religion">
                <option value="Jews">יהודים</option>
                <option value="Muslims">מוסלמים</option>
                <option value="Christians">נוצרים</option>
            </select>
            <br>
        </div>
        <button type="submit" class="submit-button">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <div class="messages" id="messages"></div>
    <canvas id="chart"></canvas>
    <div class="footer">
        <p>All rights reserved to Ariel Cohen 2024</p>
    </div>

    <script src="/script.js"></script>
    <script src="https://cdn.vercel-insights.com/v1/script.js" defer></script>
    <script>
        import { inject } from '@vercel/analytics';
        inject();
    </script>      
    <script>
        import { injectSpeedInsights } from '@vercel/speed-insights';
        injectSpeedInsights();
    </script>
</body>
</html>
